@font-face {
  font-family: "GIfont";
  src: url('./assets/GIfont.ttf');
}
:root{
  --switcher-width: 64px; 
  --switcher-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  --switcher-height:calc(var(--switcher-width)*0.5); /* ratio: 1/2, change if your image has other ratio */
  --switcher-background-when-light: url('./assets/button-background-light.png');
  --switcher-background-when-dark: url('./assets/button-background-dark.png');
}
*{
  font-family: "GIfont";
}
html{
  background-color: #fff;
}
body{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 64px);
  min-height: calc(100vh - 64px);
  min-height: calc(100vh - 64px);
  margin: 16px;
  padding: 16px;
  transition: background-color 0.5s var(--switcher-timing-function);
  -webkit-transition: background-color 0.5s var(--switcher-timing-function);
  -moz-transition: background-color 0.5s var(--switcher-timing-function);
  -ms-transition: background-color 0.5s var(--switcher-timing-function);
  -o-transition: background-color 0.5s var(--switcher-timing-function);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
body>*{
  width: 100%;
}
.header{
  text-align: center;
}
.content{
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.footer{
  text-align: center;
}


.preview{
  width: 300px;
  height: 200px;
  object-fit: contain;
  -o-object-fit: contain;
  transition: content 2s var(--switcher-timing-function);
  -webkit-transition: content 2s var(--switcher-timing-function);
  -moz-transition: content 2s var(--switcher-timing-function);
  -ms-transition: content 2s var(--switcher-timing-function);
  -o-transition: content 2s var(--switcher-timing-function);
}
.shadowed{
  filter: drop-shadow(0 3px 5px #808080);
  -webkit-filter: drop-shadow(0 3px 5px #808080);
}

/* BEGIN define switcher */
.switcher-wrapper{
  display: inline-block;
  position: relative;
  width: var(--switcher-width);
  height: var(--switcher-height);
  margin: 16px;
}
input[name=theme]{
  opacity: 0;
  margin: 0;
  position: absolute;
}
input[name=theme]+label{
  z-index: 1;
  border-radius: calc(var(--switcher-height)/2);
  width: var(--switcher-width);
  height: var(--switcher-height);
  position: absolute;
  left: 0;
  background-image:var(--switcher-background-when-light),var(--switcher-background-when-dark) ;
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat, repeat;
  transition: background-position 0.3s var(--switcher-timing-function);
}
input[name=theme]+label+label{
  z-index: 2;
  margin-inline: calc(var(--switcher-height)*.1);
  margin-block: calc(var(--switcher-height)*.1);
  width: calc(var(--switcher-height)*0.8);
  height: calc(var(--switcher-height)*0.8);
  position: absolute;
  left: 0;
  border-radius: calc(var(--switcher-height)*0.4);
  background-size: contain;
  background-image: url('./assets/sun.png');
  transition: transform 0.3s var(--switcher-timing-function);
}
input[name=theme]:checked+label+label{
  background-image: url('./assets/moon.png');
  transform: translateX(calc(var(--switcher-height)));
}
input[name=theme]:checked+label{
  background-position: calc((var(--switcher-width)));
}
/* END define switcher */

/* BEGIN define if the dark-mode is active */
body.dark-theme{
  color: #fff;
  text-shadow: 0px 0px .5px yellow;
  background-color: rgb(32, 16, 61);
}
body.light-theme{
  color: #000;
  background-color: rgb(249, 255, 169);
}
.preview.light-theme{
  content: url('./assets/yoimiya.png') !important;
}
.preview.dark-theme{
  background-size: contain;
  content: url('./assets/kuki.png') !important;
}
/* END define if the dark-mode is active */