button{
  background-color: var(--color-button-primary-dark);
  border: none;
  min-width: 128px;
  width: max-content;
  line-height: 28px;
  line-break: anywhere;
  max-width: 200px;
  
  height: 32px;
  padding-block: 6px;
  text-align: left;
  text-transform: uppercase;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  color: #fff;
  transition-property: background-color, box-shadow;
  -o-transition-property: background-color, box-shadow;
  -moz-transition-property: background-color, box-shadow;
  -webkit-transition-property: background-color, box-shadow;
  transition-duration: .3s;
  -o-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  transition-timing-function: var(--global-timing-function);
  -o-transition-timing-function: var(--global-timing-function);
  -moz-transition-timing-function: var(--global-timing-function);
  -webkit-transition-timing-function: var(--global-timing-function);
  &::before{
    z-index: 10;
    content: "";
    content: attr(icon);
    position: relative;
    color: var(--color-button-primary-light);
    background-color: var(--color-button-primary-darker);
    left: 0px;
    top: 0px;
    padding: 0px;
    margin-right:px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
}
button:hover{
  background-color: var(--color-button-primary-slightdark);
}
@keyframes btnClicked {
  0% {
    box-shadow: 0 0 0 var(--color-button-primary-light);
  }
  50% {
    box-shadow: 0 0 5px rgb(18, 38, 61);
  }
  100% {
    box-shadow: 0 0 0 var(--color-button-primary-light);
  }
  
}
button:focus{
  background-color: var(--color-button-primary-light);
  color: var(--color-button-primary-darker);
  animation: btnClicked .5s var(--global-timing-function) normal 1;
  -webkit-animation: btnClicked .5s var(--global-timing-function) normal 1;
}